---
    layout: page
---
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <section>
            <h2>Portfolio Items</h2>
            <div class="projects">
                {% for project in site.projects %}
                    <div class="project" style="background-image: url('{{project.thumbnail}}');">
                        <p class="project-title">{{project.title}}</p>
                        <hr>
                        <div class="project-description">
                            {{project.description}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <h2>Latest Posts</h2>
            <div class = "posts">
            {% for post in site.posts limit: 3%}
                <div class="post">
                    <p class="post-title"><a href = "{{post.url}}">{{post.title}}</a></p>
                    <div class="post-meta">
                        <p class="post-date">{{post.date | date_to_string}}</p>
                        <div class="post-tags">
                        {% for tag in post.tags %}
                        <p class="post-tag">{{tag}}</p>
                        {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="post-excerpt">{{post.excerpt}}</div>
                </div>
            {% endfor %}
            </div>
        </section>
        <section>
            <h2>Latest Images</h2>
            <div class="images">
            {% for image in site.data.images %}
                <p class="image-title" style="background-image: url('{{image.url}}');">{{ image.title }}</p>
            {% endfor %}
            </div>
        </section>
    </body>
</html>