<header>
    <div class="c-hero">
        <a href="/index.html">
            <h1>Tate<br />Kennington</h1>
        </a>
        <img src="/assets/hero.jpg" />
    </div>
    <nav>
        {% if page.name != "index.html" %}
        <a href="/index.html">
            <p>Home</p>
        </a>
        {%else%}
        <a>
            <p>Home</p>
        </a>
        {%endif%}
        <div class="divider"></div>
        {% if page.name != "projects.html" %}
        <a href="/projects.html">
            <p>Projects</p>
        </a>
        {%else%}
        <a>
            <p>Projects</p>
        </a>
        {%endif%}
        <div class="divider"></div>
        {% if page.name != "blog.html" %}
        <a href="/blog.html">
            <p>Blog</p>
        </a>
        {%else%}
        <a>
            <p>Blog</p>
        </a>
        {%endif%}
    </nav>
</header>