{%assign project = include.project%}
<div class="c-project">
    <a href="{{project.url}}">
        <p class="c-project__title">{{project.title}}</p>
    </a>
    <hr>
    <div class="c-project__description">
        {{project.description}}
    </div>
    <div class="c-project__footer">
        <img src="/assets/icons/play_arrow.svg" />
        <div class="c-project__icons">
            <img src="/assets/icons/play_arrow.svg" />
            <img src="/assets/icons/play_arrow.svg" />
        </div>
    </div>