---
---
@import "murphy.css";

body{
    margin: 10px auto;
    max-width: 860px;
    background-color: #DDD;
}

.frame{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #EEE;
}

.c-hero{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 10px;

    & a{
        font-size: 18px;
        padding-right: 15px;
        padding-left: 15px;
        &:not(:last-child){
            border-right: 1px solid black;
        }
    }
}

h1 {
    margin: 10px 10px;
    font-size: 30px;
}

h2{
    font-size: 24px;
}

section{
    margin-left: 25px;
    margin-bottom: 20px;
}

.c-tag{
    height: 30px;
    border-radius: 10px;
    background-color: #c4c4c4;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.c-project{
    width: 300px;
    height: 300px;
    margin-right: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: rgba(0,0,0,0.25) 0 4px 4px;

    &:hover{
        & .c-project__blurb{
            flex-grow: 1;
            border-radius: 5px;
        }

        & .c-project__description{
            height: 200px;
        }
    }

    &__footer{
        margin: 8px 14px 8px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img{
            width: 35px;
            height: 35px;
        }
    }

    &__tags{
        display: flex;
        justify-content: flex-end;
    }

    &__description{
        transition: height 1s;
        height: 0;
        margin: 0 14px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title{
        font-size: 24px;
        margin: 14px;
        margin-bottom: 5px;
    }

    &__blurb{
        transition: flex-grow 1s;

        height: 96px;
        background-color: #EEE;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.c-post{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 20px;
    width: calc(100% - 70px);
    flex-shrink: 0;

    &__title{
        font-size: 20px;
        margin-bottom: 0px;
        font-weight: 700;

        & a, & a:link, & a:visited{
            color: black;
        }
    }

    &__meta{
        display: flex;
    }

    &__date{
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 5px;
    }

    &__tags{
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
    }

    &__tag{
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 2px 5px;
        border: 1px solid black;
        background-color: rgb(200,200,200);
        border-radius: 5px;
    }

    &__excerpt p{
        font-style: italic;
        margin-top: 10px;
    }
}
/*
 * Styles for the homepage posts section.
*/
.posts{
    display: flex;
    flex-wrap: wrap;
}

hr{
    margin: 0px;
    margin-right:10px
}

/*
 * Styles for the homepage portfolio section.
*/
.projects{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
}

.projects-full .project-description{
    height: auto;
    width: 50%;
    color: black;
}

.projects-full .project-title{
    color: black;
}

.post_navigation{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
 .post_navigation a{
     display: block;
 }

 .post-body{
     width: 50%;
 }

 .post-full{
     margin-bottom: 40px;
 }

 .title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
    height: auto;
    max-width: 1000px;
 }

 .title h1, .title p{
    border-bottom: none;
    margin-bottom: 0px;
    margin-top: 0px;
 }

 .title p{
    padding-top: 10px;
 }